.dialog-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.title{
    margin-bottom: 20px;
}

.form-item {
    width: fill;
    margin-bottom: 10px;
}

.button {
    margin-top: 15px;
    padding: 0px 10px;
}