html, body{ 
  min-width:100%;
}

.appBar {
  height : 350%
}

.header {
  display: flex;
}

.header_title {
    flex : 0.95
}
.home {
  height : 100%;
  width : 100%
}
.homeImage{
  height : 100%;
  width : 100%
}
.loggedInHome{
  width : 100%;
  height: 100vh;
  display:flex;
}

.sideBar{
  flex : 0.3;
}

.Feed {
  flex : 0.7;
  width : 100%;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black
}

.FeedBox{
  margin: 35px;
  margin-left: 130px;
  width : 100%;
}

.FeedBox > h1 {
  margin : 15px;
  text-align: center;
}